body{
    font-family:$primary-font !important;
    background-color: #f8f9fa !important;
    color: #f8f9fa;
}

h1{
    font-family:$heading-font;
    text-transform: uppercase;
    font-weight:800;
}

pre{
    font-family:$primary-font !important; 
}