body{
    font-family:$primary-font !important;
    background-color: #f8f9fa !important;
    color: #f8f9fa;
    min-height: 100% !important;
}

a{
    font-family: $primary-font;
}

h2, h3{
    font-family:$primary-font !important;
}

button{
    font-family:$primary-font !important;
}

pre{
    font-family:$primary-font !important; 
}

footer{
    font-size: 0.9rem;
    padding: 2px;
    bottom: 0;
    width: 100%;
    color:$secondary-color;
    background-color: $primary-color;
    margin-top:1rem;

}


