body{
    font-family:$primary-font !important;
    padding: 2rem;
    
}

h1{
    font-family:$heading-font;
    text-transform: uppercase;
    font-weight:800;
}

pre{
    font-family:$primary-font !important; 
}