#navbarNav {
	padding: 2rem 0 0 0;
}

#nav-link {
	color: black;
	font-size: 1.3rem;
	font-family: $primary-font;
	margin: 0 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	padding: 1.5rem 1rem !important;

	img {
		width: 150px !important;
	}
}

#login-icon {
	width: 1rem;
}

.active {
	text-decoration: underline $accsent-color 3px !important;
	font-weight: bold;
}

footer {
	background-color: $primary-color;
	color: $secondary-color;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	p {
		padding: 0 2rem;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 374px) {
	nav img {
		width: 250px !important;
	}
}

@media screen and (min-width: $mobile-width) {
	nav {
		padding: 1.5rem 1rem 1.5rem 2rem !important;
	}
}

@media screen and (min-width: $laptop-width) {
	nav img {
		width: 250px !important;
		padding-left: 1rem;
	}

	nav {
		padding: 1rem 0 1.5rem 1.5rem !important;
	}

	#navbarNav {
		padding: 3rem 0 0 1rem;
	}
}

@media screen and (min-width: $large-screen) {
	nav img {
		width: 300px !important;
	}

	#navbarNav {
		padding-left: 3rem;
	}

	#nav-link {
		font-size: 1.5rem;
	}
}
