$primary-color: black;
$secondary-color: white;
$accsent-color: #BC0F1E;
$grey: #555555;

$mobile-width: 600px;
$tablet-width: 768px;
$laptop-width: 992px;
$large-screen: 1200px;

$primary-font:'Open Sans', sans-serif;
$heading-font:'Lust Sans',sans-serif;
$base-font-size: 1.2rem;


