@import "../abstracts/variables";

.contact {
	display: flex;
	flex-direction: column;
	background-color: $primary-color;

	h2,
	p {
		padding: 10px;
	}
}

.contact-form {
	width: 80%;
	max-width: 500px;
	margin: 10px auto 60px;

	label,
	h3 {
		color: white;
		padding-top: 15px;
	}
}

.contact-info {
	color: $secondary-color;
	margin: 40px auto 10px;
	width: 80%;
	max-width: 500px;

	svg{
		max-height: 25px;
	}
}

button {
	color: $secondary-color;
	background-color: $primary-color;
	border: solid 1px $secondary-color;
	font-size: 1rem;
	padding: 5px 30px;
	margin-top: 20px !important;
}

@media screen and (min-width: $laptop-width) {
	.contact {
		flex-direction: row;
		padding: 5rem 0;
		margin: 0 1rem;
	}

	.contact-form {
		padding: 2rem;
	}

	.contact-info {
		padding: 2rem;

		p {
			font-size: 1.2rem;
		}
	}
}
