@import "/styles/scss/abstracts/variables";

.edit-delete {
	display: flex;
	flex-direction: column;

	form {
		margin: auto;
		width: 90%;
		max-width: 300px;
	}

	h1 {
		text-align: center;
		margin: 2rem 0 3rem;
	}

	h1 a {
		color: black;
	}

	button {
		width: 50%;
	}

	input,
	textarea {
		width: 100%;
		margin: 2px 0;
	}
}
