@import "../abstracts/variables";

.tlf-nubmer {
	width: 95%;
	text-align: center;
	border-bottom: 2px solid #000;
	line-height: 0.1em;
	margin: 1rem auto 3rem;

	span {
		background: #fff;
		padding: 0 10px;
	}
}

.banner-image {
	width: 95%;
	position: relative;
	text-align: center;
	margin: auto;
}

.banner-text {
	color: white;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $primary-color;
	width: 80%;
	padding-top: 10px;

	h1 {
		display: none;
	}

	h2 {
		font-size: 0.8rem;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	p {
		display: none;
	}
}

.banner-button {
	color: $secondary-color;
	background-color: $primary-color;
	font-size: 0.8rem;
	width: 50%;
	border: solid 1px $secondary-color;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	padding: 5px;
	text-transform: uppercase;
}

.openinghours-container{
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 1rem auto;
	justify-content: space-evenly;
}

.google-map {
	width: 90%;
	height: 250px;
	margin: auto;
	padding-bottom: 2rem;
}

.openinghours {
	margin: auto;
	border: solid 2px $secondary-color;
	width: 90%;
	margin: 2rem auto 1.5rem;
	padding: 1.5rem 0.5rem 0rem;

	h2,
	p {
		color: $secondary-color;
	}

	h2 {
		padding-bottom: 1rem;
		text-align: center;
	}

	p {
		font-size: 0.9rem;
	}

	pre {
		text-align: center;
	}
}

@media screen and (min-width: 374px) {
	.banner-text h1 {
		margin-bottom: 4px;
		font-weight: 400;
		font-family: $heading-font;
		text-transform: uppercase;
	}

	.openinghours {
		width: 80%;

		p {
			font-size: 1.1rem;
		}
	}
}

@media screen and (min-width: $mobile-width) {
	.banner-text {
		padding: 20px 0 10px;

		h1 {
			font-size: 2.5rem;
			margin-bottom: 5px;
		}

		h2 {
			font-size: 1rem;
			margin-bottom: 15px;
		}
	}

	.banner-button {
		font-size: 1rem;
		width: 50%;
		max-width: 250px;
		padding: 5px;
	}
}

@media screen and (min-width: $laptop-width) {
	.banner-text {
		width: 70%;
		padding: 20px 0;

		h1 {
			font-size: 3rem;
			margin-bottom: 4px;
			font-weight: 400;
		}

		h2 {
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		h3 {
			display: none;
		}

		p {
			display: unset;
			font-size: 1rem;
		}
	}

	.banner-button {
		font-size: 1.2rem;
		width: 50%;
		border: solid 2px $secondary-color;
		font-weight: 600;
		padding: 15px;
		max-width: 300px;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.google-map {
		width: 80%;
		height: 400px;
		margin: 1rem auto;
		padding-bottom: 2rem;
	}

	.openinghours {
		width: 60%;
		max-width: 600px;

		h2,
		p {
			color: $secondary-color;
		}

		h2 {
			padding-bottom: 1.5rem;
			text-align: center;
		}

		p {
			font-size: 1.2rem;
		}
	}
}
