

.container{
    width: 95%;
    margin: 0px;
}

.index-image{
    margin:0;
}

.map-container{
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    margin: 3rem auto ;
    padding: 3rem 0;
    justify-content: space-evenly;
}

.openinghours{
    margin: auto 0;

    h2, p{
        color: $secondary-color;
    }

    h2{
        padding-bottom: 2rem;
        text-align: center;
    }

    p{
        font-size: $base-font-size;
    }
}

